      <!-- Content -->
      <div class="main-content position-relative" style="max-width: 100%; margin-right: 15px;">
        <!-- Page title -->
        <div class="page-title"></div>

        <div class="row appChampi">
          <div class="dropdown">
            <label for="courbe-select">Choix de la courbe:</label>

            <select name="choixCourbe" id="choixCourbeSelect">
                <option value="dataSetsAir">Temperature Air</option>
                <option value="dataSetsHum">Humidite</option>
            </select>
          </div>

          <div class="courbeAir col-xl-12 col-md-12">

          <!-- Informations -->
          <div class="courbeAir col-xl-12 col-md-12">
          <div class="">
            <div class="card card-fluid">
              <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4 libelleCourbe" style="margin-top: -5px;">Courbes Air</h5>
                </div>
                <div class="d-flex" style="margin-top: -50px;">
                    <canvas id="chartGestionAir" width="550" height="150"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-12">
            <div class="card card-fluid">
              <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4 libelleEtal" style="margin-top: -5px;">Etat Vanne Air</h5>
                </div>
                <div class="d-flex" style="margin-top: -50px;">
                    <canvas id="chartEtal" width="550" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="courbeHum d-none col-xl-12 col-md-12">
            <div class="">
              <div class="card card-fluid">
                <div class="card-body">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="mb-4" style="margin-top: -5px;">Courbes Air</h5>
                  </div>
                  <div class="d-flex" style="margin-top: -50px;">
                      <canvas id="chartGestionAir" width="550" height="150"></canvas>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-12 col-md-12">
              <div class="card card-fluid">
                <div class="card-body">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="mb-4" style="margin-top: -5px;">Etat Vanne Air</h5>
                  </div>
                  <div class="d-flex" style="margin-top: -50px;">
                      <canvas id="chartEtal" width="550" height="80"></canvas>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="/assets/js/purpose.core.js"></script>
  <script src="/asset/moment/moment.js"></script>
  <!-- Page JS -->
  <script src="/assets/libs/progressbar-js/dist/progressbar.min.js"></script>
  <!-- Purpose JS -->
  <script src="/assets/js/purpose.js"></script>
  <script src="/script.js"></script>
  <script src="/asset/chart.js/chart.js"></script>
  <script src="/courbe/courbe.js"></script>

</body>

</html>