      <!-- Content -->
      <div class="main-content position-relative">
           <!-- Page title -->
          <div class="page-title"></div>
  
          <div class="row appChampi">
  
            <!-- Température -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 5px;">Air</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 temperatureAir" data-color="info"></div>
                <h5 class="mb-4" style="margin-top: 5px;">Etalonnage</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 etalAir" data-color="info"></div>
  
                <!-- Cercle -->
                <div class="d-flex mt-4">
                  <div class="col">
                    <button id="etalAirDown" type="button" class="btn btn-danger">
                      -
                    </button>
                  </div>
                  <div class="col">
                    <button id="etalAirUp" type="button" class="btn btn-success">
                      +
                    </button>
                  </div>
                </div>
                  <!-- Fin information -->
                </div>
              </div>
            </div>
  
            
            <!-- Température -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 5px;">Sec</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 temperatureSec" data-color="info"></div>
                <h5 class="mb-4" style="margin-top: 5px;">Etalonnage</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 etalSec" data-color="info"></div>
  
                <!-- Cercle -->
                <div class="d-flex mt-4">
                  <div class="col">
                    <button id="etalSecDown" type="button" class="btn btn-danger">
                      -
                    </button>
                  </div>
                  <div class="col">
                    <button id="etalSecUp" type="button" class="btn btn-success">
                      +
                    </button>
                  </div>
                </div>
                  <!-- Fin information -->
                </div>
              </div>
            </div>
  
            
            <!-- Température -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 5px;">Humide</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 temperatureHum" data-color="info"></div>
                <h5 class="mb-4" style="margin-top: 5px;">Etalonnage</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 etalHum" data-color="info"></div>
  
                <!-- Cercle -->
                <div class="d-flex mt-4">
                  <div class="col">
                    <button id="etalHumDown" type="button" class="btn btn-danger">
                      -
                    </button>
                  </div>
                  <div class="col">
                    <button id="etalHumUp" type="button" class="btn btn-success">
                      +
                    </button>
                  </div>
                </div>
                  <!-- Fin information -->
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 d-none">
              <div class="card card-fluid">
                <div class="card-body">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <span><i class="fas fa-tint"></i></span>
                      <h5 class="mb-4" style="margin-top: -5px;">Ventilo</h5>
                      <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatRelayVentilo">inconnu</span></h5>
                      <button type="button" class="mb-4 btn btn-light switchRelayVentilo">Switch Ventilo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="/assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="/assets/libs/progressbar-js/dist/progressbar.min.js"></script>
    <!-- Purpose JS -->
    <script src="/assets/js/purpose.js"></script>
    <script src="/script.js"></script>
    <script src="/etalonnage/eventHandle.js"></script>
  </body>
  
  </html>