<div class="main-content position-relative">
      <div class="row appChampi">

        <!-- Informations -->

        <div class="col-xl-4 col-md-6">
          <div class="card card-fluid">
            <div class="card-body">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <span><i class="fas fa-tint"></i></span>
                  <h5 class="mb-4" style="margin-top: -5px;">Ventilo</h5>
                  <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatRelayVentilo">inconnu</span></h5>
                  <button type="button" class="mb-4 btn btn-light switchRelayVentilo">Switch Ventilo</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
                <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <span><i class="fas fa-tint"></i></span>
                    <h5 class="mb-4" style="margin-top: -5px;">Brume</h5>
                    <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatRelayBrume">inconnu</span></h5>
                    <button type="button" class="mb-4 btn btn-light switchRelayBrume">Switch Brume</button>
                </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
                <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <span><i class="fas fa-tint"></i></span>
                    <h5 class="mb-4" style="margin-top: -5px;">Vanne Air</h5>
                    <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatVanneAir">inconnu</span></h5>
                    <button type="button" class="mb-4 btn btn-success ouvrirVanneAir">Ouvrir Vanne Air</button>
                    <button type="button" class="mb-4 btn btn-danger fermerVanneAir">Fermer Vanne Air</button>
                    <button type="button" class="mb-4 btn btn-success fullOuvrirVanneAir">Ouvrir à fond</button>
                    <button type="button" class="mb-4 btn btn-danger fullFermerVanneAir">Fermer à fond</button>
                </div>
                </div>
            </div>
        </div>


      <div class="col-xl-4 col-md-6 d-none">
        <button type="button" class="mb-4 btn btn-success initDataArduino">Remise à jour 1</button>
      </div>
       
    </div>
  </div>
</div>

<!-- Scripts -->
<!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
<script src="/assets/js/purpose.core.js"></script>
<!-- Page JS -->
<script src="/assets/libs/progressbar-js/dist/progressbar.min.js"></script>
<!-- Purpose JS -->
<script src="/assets/js/purpose.js"></script>
<script src="/script.js"></script>
<script src="/gestionRelay/eventHandle.js"></script>

</body>

</html>