
      <!-- Content -->
      <div class="main-content position-relative">
          <!-- Page title -->
          <div class="page-title"></div>
  
          <div class="row appChampi">
  
            <!-- Informations -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                <div class="card-body">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="mb-4" style="margin-top: -5px;">Informations</h5>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-sm mb-0">
                        Jours
                      </h6>
                    </div>
                    <div class="col-auto nbJour">
                      1
                    </div>
                  </div>
                  <hr class="my-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-sm mb-0">
                        Etat
                      </h6>
                    </div>
                    <div class="col-auto suiviProcess">
                      Lancement
                    </div>
                  </div>
                  <hr class="my-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-sm mb-0">
                        <span class="badge badge-dot">
                          <i class="bg-success"></i>
                          <span class="status">Sous Etat</span>
                        </span>
                      </h6>
                    </div>
                    <div class="col-auto suiviSousProcess">
                      
                    </div>

                  </div>
                  <hr class="my-3">

                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-sm mb-0">
                        <span class="badge badge-dot">
                          <i class="bg-success"></i>
                          <span class="status">Etat Co2</span>
                        </span>
                      </h6>
                    </div>
                    <div class="col-auto statusCo2">
                      
                    </div>

                  </div>
                  <hr class="my-3">
                </div>
              </div>
            </div>
  

            <!-- Température -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 5px;">Temperature Air</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 temperatureAir" data-color="info"></div>
                  <!-- Cercle -->
                  <div class="d-flex mt-4">
                    <div class="col">
                      <button id="consigneAirDown" type="button" class="btn btn-danger">
                        -
                      </button>
                    </div>
                    <div class="col">
                      <button id="consigneAirUp" type="button" class="btn btn-success">
                        +
                      </button>
                    </div>
                  </div>
  
                  <!-- Information -->
  
                  <div class="d-flex mt-4">
                    <div class="col text-left">
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantMesure"></i>Consigne :
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantMesure"></i>Delta :
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                      </span>
                    </div>
                    <hr class="my-3">
                    <div class="col text-right">
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <!-- Mesure -->
                        <span id="consigneAir" class="consigneAir">NC</span>°C
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <!-- Delta -->
                        <span class="coeff">NC</span>°C
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                      </span>
                    </div>
                  </div>
                  
                  <!-- Fin information -->
                </div>
              </div>
            </div>
  
            <!-- Humidité -->
  
            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 20px;">Taux d'humidité</h5>
                  <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                    data-textclass="h1 tauxHumidite" data-color="info"></div>
                  <div class="d-flex mt-4">
                    <div class="col">
                      <button id="consigneHumDown" type="button" class="btn btn-danger">
                        -
                      </button>
                    </div>
                    <div class="col">
                      <button id="consigneHumUp" type="button" class="btn btn-success">
                        +
                      </button>
                    </div>
                  </div>
                  <div class="d-flex mt-4">
                    <div class="col text-left">
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantHumidite"></i>Mesure Sec :
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantHumidite"></i>Mesure Humide :
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantHumidite"></i>Consigne
                      </span>
                    </div>
                    <hr class="my-3">
                    <div class="col text-right">
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <span class="moySec">NC</span>°C
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <span class="moyHum">NC</span>°C
                      </span>
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <span id="consigneHum" class="consigneHum">NC</span>%
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Co2 -->

            <div class="col-xl-4 col-md-6">
              <div class="card card-fluid">
                  <div class="card-body text-center d-flex flex-column justify-content-center">
                  <h5 class="mb-4" style="margin-top: 5px;">Taux Co2</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
                data-textclass="h1 tauxCo2" data-color="info"></div>
                  <!-- Cercle -->
                  <div class="d-flex mt-4">
                    <div class="col">
                      <button id="consigneCo2Down" type="button" class="btn btn-danger">
                        -
                      </button>
                    </div>
                    <div class="col">
                      <button id="consigneCo2Up" type="button" class="btn btn-success">
                        +
                      </button>
                    </div>
                  </div>
  
                  <!-- Information -->
  
                  <div class="d-flex mt-4">
                    <div class="col text-left">
                      <span class="d-block badge badge-dot badge-lg h6 text-left">
                        <i class="voyantMesure"></i>Consigne :
                      </span>
                    </div>
                    <hr class="my-3">
                    <div class="col text-right">
                      <span class="d-block badge badge-dot badge-lg h6 text-right">
                        <!-- Mesure -->
                        <span id="consigneCo2" class="consigneCo2">NC</span> ppm
                      </span>
                    </div>
                  </div>
                  
                  <!-- Fin information -->
                </div>
              </div>
            </div>

            <!-- fin Co2 -->

          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="assets/libs/progressbar-js/dist/progressbar.min.js"></script>
    <!-- Purpose JS -->
    <script src="assets/js/purpose.js"></script>
    <script src="/script.js"></script>
    <script src="/home/eventHandle.js"></script>

</body>

</html>