
      <!-- Content -->
      <div class="main-content position-relative">
        <!-- Page title -->
        <div class="page-title"></div>

        <div class="row appChampi">

          <!-- Informations -->
          <div class="col-xl-6 col-md-12">
            <div class="card card-fluid">
              <div class="card-body">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Level</th>
                            <th scope="col">Date</th>
                            <th scope="col">Message</th>
                            <th scope="col">Details</th>
                          </tr>
                        </thead>
                        <tbody class="tabLog">

                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
<script src="/assets/js/purpose.core.js"></script>
<script src="/asset/moment/moment.js"></script>
<!-- Page JS -->
<script src="/assets/libs/progressbar-js/dist/progressbar.min.js"></script>
<!-- Purpose JS -->
<script src="/assets/js/purpose.js"></script>
<script src="/script.js"></script>
<script src="/log/eventHandle.js"></script>

</body>

</html>