<div class="main-content position-relative">
    <div class="page-title"></div>

    <div class="row appChampi">

      <!-- Informations -->
      <div class="row">
      <div class="col-xl-4 col-md-4 ml-4">
        <div class="card card-fluid">
          <div class="card-body">
            <div class="card-body text-center d-flex flex-column justify-content-center">
              <h5 class="mb-4" style="margin-top: -5px;">Consigne Air</h5>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Consigne actuelle
                </h6>
              </div>
              <div class="col-auto" id="consigneAir">
              </div>
            </div>
            <hr>
            
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Temperature Air actuelle
                </h6>
              </div>
              <div class="col-auto temperatureAir">
              </div>
            </div>
            <hr>

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="saisieDirectConsigneAir" placeholder="Nouvel Consigne">
                  </h6>
                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary directConsigneAir">Valider</button>
                </div>
              </div>
            </form>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <span class="badge badge-dot">
                  <i class="bg-success statusObjAir"></i>
                  <span class="statusTxtAir">Objectif air Activer</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-md-4 ml-4">
        <div class="card card-fluid">
          <div class="card-body">
            <div class="card-body text-center d-flex flex-column justify-content-center">
              <h5 class="mb-4" style="margin-top: -5px;">Vitesse Consigne Air</h5>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Pas actuelle
                </h6>
              </div>
              <div class="col-auto pasConsigneAir">
              </div>
            </div>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Estimation temps restants
                </h6>
              </div>
              <div class="col-auto tempsRestantConsigneAir">
              </div>
            </div>
            <hr>  

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="newPasConsigneAir" placeholder="Nouveau Pas">
                  </h6>
                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary btnPasConsigneAir">Valider</button>
                </div>
              </div>
            </form>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Objectif attendu
                </h6>
              </div>
              <div class="col-auto objConsigneAir">
              </div>
            </div>
            <hr>

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="newObjConsigneAir" placeholder="Nouvel Objectif">
                  </h6>
                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary btnObjConsigneAir">Valider</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="card card-fluid">
          <div class="card-body">
            <div class="card-body text-center d-flex flex-column justify-content-center">
              <h5 class="mb-4" style="margin-top: -5px;">Consigne Hum</h5>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Consigne actuelle
                </h6>
              </div>
              <div class="col-auto" id="consigneHum">
              </div>
            </div>
            <hr>
            
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Humidite actuelle
                </h6>
              </div>
              <div class="col-auto tauxHumidite">
              </div>
            </div>
            <hr>

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="saisieDirectConsigneHum" placeholder="Nouvel Consigne">
                  </h6>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary directConsigneHum">Valider</button>
                </div>
              </div>
            </form>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <span class="badge badge-dot">
                  <i class="bg-success statusObjHum"></i>
                  <span class="statusTxtHum">Objectif Hum Activer</span>
                </span>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <span class="badge badge-dot">
                  <i class="bg-success"></i>
                  <span>Delay avant prochaine Gestion Humidite : </span>
                  <span class="delayBeforeHum"></span>
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-4 ml-4">
        <div class="card card-fluid">
          <div class="card-body">
            <div class="card-body text-center d-flex flex-column justify-content-center">
              <h5 class="mb-4" style="margin-top: -5px;">Vitesse Consigne Hum</h5>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Pas actuelle
                </h6>
              </div>
              <div class="col-auto pasConsigneHum">
              </div>
            </div>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Estimation temps restants
                </h6>
              </div>
              <div class="col-auto tempsRestantConsigneHum">
              </div>
            </div>
            <hr>  

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="newPasConsigneHum" placeholder="Nouveau Pas">
                  </h6>
                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary btnPasConsigneHum">Valider</button>
                </div>
              </div>
            </form>
            <hr>

            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-sm mb-0">
                  Objectif attendu
                </h6>
              </div>
              <div class="col-auto objConsigneHum">
              </div>
            </div>
            <hr>

            <form>
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    <input type="text" class="form-control" id="newObjConsigneHum" placeholder="Nouvel Objectif">
                  </h6>
                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary btnObjConsigneHum">Valider</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      </div>

      <!-- Vitesse Co2 -->

      <div class="row">
        <div class="col-xl-4 col-md-4 ml-4">
          <div class="card card-fluid">
            <div class="card-body">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4" style="margin-top: -5px;">Consigne Co2</h5>
              </div>
  
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    Consigne actuelle
                  </h6>
                </div>
                <div class="col-auto" id="consigneCo2">
                </div>
              </div>
              <hr>
              
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    Co2 actuelle
                  </h6>
                </div>
                <div class="col-auto tauxCo2">
                </div>
              </div>
              <hr>
  
              <form>
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      <input type="text" class="form-control" id="saisieDirectConsigneCo2" placeholder="Nouvel Consigne">
                    </h6>
                  </div>
                  <div class="col-auto">
                      <button type="submit" class="btn btn-primary directConsigneCo2">Valider</button>
                  </div>
                </div>
              </form>
              <hr>
  
              <div class="row align-items-center">
                <div class="col">
                  <span class="badge badge-dot">
                    <i class="bg-success statusObjCo2"></i>
                    <span class="statusTxtCo2">Objectif Co2 Activer</span>
                  </span>
                </div>
              </div>
  
              <div class="row align-items-center">
                <div class="col">
                  <span class="badge badge-dot">
                    <i class="bg-success"></i>
                    <span>Temps Variateur On : </span>
                    <span class="timeVarOn"></span>
                  </span>
                </div>
              </div>

              <div class="row align-items-center">
                <div class="col">
                  <span class="badge badge-dot">
                    <i class="bg-success"></i>
                    <span>Temps Variateur Off : </span>
                    <span class="timeVarOff"></span>
                  </span>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-md-4 ml-4">
          <div class="card card-fluid">
            <div class="card-body">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4" style="margin-top: -5px;">Vitesse Consigne Co2</h5>
              </div>
  
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    Pas actuelle
                  </h6>
                </div>
                <div class="col-auto pasConsigneCo2">
                </div>
              </div>
              <hr>
  
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    Estimation temps restants
                  </h6>
                </div>
                <div class="col-auto tempsRestantConsigneCo2">
                </div>
              </div>
              <hr>  
  
              <form>
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      <input type="text" class="form-control" id="newPasConsigneCo2" placeholder="Nouveau Pas">
                    </h6>
                  </div>
                  <div class="col-auto">
  
                      <button type="submit" class="btn btn-primary btnPasConsigneCo2">Valider</button>
                  </div>
                </div>
              </form>
              <hr>

              
  
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-sm mb-0">
                    Objectif attendu
                  </h6>
                </div>
                <div class="col-auto objConsigneCo2">
                </div>
              </div>
              <hr>
  
              <form>
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      <input type="text" class="form-control" id="newObjConsigneCo2" placeholder="Nouvel Objectif">
                    </h6>
                  </div>
                  <div class="col-auto">
  
                      <button type="submit" class="btn btn-primary btnObjConsigneCo2">Valider</button>
                  </div>
                </div>
              </form>
  
            </div>
          </div>
        </div>
        </div>
<!-- Fin vitesse Co2 -->

      <div class="row">
        <div class="col-xl-10 col-md-10 ml-5">
          <div class="card card-fluid">
            <div class="card-body">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4" style="margin-top: -5px;">Remise à zero</h5>
              </div>
                  
              <form>
                <div class="row align-items-center">
                  <div class="col-auto">
                      <button type="submit" class="btn btn-primary remiseAZero">Restart</button>
                  </div>
                </div>
              </form>
              <hr>
  
            </div>
          </div>
        </div>
  
        </div>
      </div>

    </div>
</div>
</div>

<!-- Scripts -->
<!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
<script src="/assets/js/purpose.core.js"></script>
<!-- Page JS -->
<script src="/assets/libs/progressbar-js/dist/progressbar.min.js"></script>
<!-- Purpose JS -->
<script src="/assets/js/purpose.js"></script>
<script src="/script.js"></script>
<script src="/paramArduino/eventHandle.js"></script>

</body>

</html>